
# Include README(s)
include README.md CONTRIBUTING.md

# Include all .py files under main directory
recursive-include drbert *.py

# Include license file
include LICENSE

# Include config file(s)
global-include *.ini *.yml .coveragerc

# Include test resources
graft drbert/tests

# Don't include .tox directory
prune .tox

# Don't include pycache or .pyc files
global-exclude __pycache__ *.pyc 
